
/* --------------------

KORDE COMPONENTS

Created by Valdemar Rolfsen 2016

-------------------- */

// Boxes
// --------------------

$header-height:           40px;
$footer-height:           40px;

.korde-content-box {

  display: inline-block;
  vertical-align: top;

  .content-box-header {

    //Static style
    width: 100%;
    font-weight: 600;

    //Custom style
    height: $header-height;
    line-height: $header-height;
  }

  .content-box-footer {
    //Static style
    width: 100%;

    //Custom style
    height: $footer-height;
    line-height: $footer-height;
  }

  .content-box-image {
    width: 100%;
    @include has-background-image();
  }
}

// Inputs
// --------------------

.plain-input, .plain-select {
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  background: $light;
  padding-left: 15px;
  border: 0;
  border-radius: 0;

  &:focus {outline: none;}
}

.hidden-input {
  background: none;
  border: 0;
  transition: 0.5s;

  &:focus {
    background: $light;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    outline: none;
  }
}

// Divider
// --------------------

.divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #888;
}

.divider-half {
  width: 50%;

  display: block;
  margin: 0 auto;
}

