/*----------------------------------------

  HEAD MARKET - NAV BARS

-----------------------------------------*/

//Imports

// Local mixins

@mixin nav-size($h) {
  height: $h;
  line-height: $h;
}


// Nav bar top
// -----------------
.nav-sm {
  @extend %nav-top;
  @include nav-size($small-nav-size);
}

.nav-md {
  @include nav-size($medium-nav-size);
}

.nav-lg {
  @include nav-size($large-nav-size);
}

.nav-with-side {
  left: 70px;
}

// Nav bar side
// -----------------

.nav-side-sm {
  width: 70px;
  padding-top: 15px;

  // Extends
  @extend %nav-side;

  .logo-container {
    padding: 10px 15px;

    img {
      width: 100%;
    }
  }

  .nav-item {
    position: relative;
    font-size: 18px;
    text-align: center;
    color: $light;
    cursor: pointer;

    @include trans(background-color, 200ms);

    span {
      line-height: 60px;
      opacity: 0.6;
    }

    &:hover {
      background: lighten($dark, 10%);
    }
  }

  .active {
    span {
      opacity: 1;
    }
  }
}

.has-nav-side-sm {
  padding-left: 70px;
}