/*----------------------------------------

  KORDE - PLACEHOLDERS

-----------------------------------------*/

// Buttons
// --------------------


// Borders
// --------------------

%solid-border { border-style: solid; }
%solid-bottom-border { border-bottom-style: solid; }
%solid-top-border { border-top-style: solid; }
%solid-right-border {border-right-style: solid;}
%solid-left-border {border-left-style: solid;}


// Transitions
// --------------------

%all-trans { @include trans(); }


// Layout
// --------------------
%is-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// Buttons
// --------------------

%default-button {
  cursor: pointer;
}

// Cover
// ---------------------
%cover {
  position: absolute;
  top: 0; left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

// Navbar
// ---------------------
%nav-top {
  position: absolute;
  top: 0; left: 0; right: 0;
  z-index: 1337;

  a {
    padding: 10px;
  }

  .nav-logo {
    padding: 0 20px;

    img {
      width: 100%;
    }
  }
}

%nav-side {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1337;
}


// Grid
// ---------------------

%default-column {
  @include trans($time: 200ms);
}

// Shapes
// ---------------------

%is-circle {
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
}

// Divider
// ---------------------
%divider {
  width: 100%;
  height: 1px;
  border-bottom-style: solid;
}

// Hover
// ---------------------

%hover {
  cursor: pointer;
  @include trans(background-color, 200ms);
}