/*----------------------------------------

  KORDE - PLACEHOLDERS

-----------------------------------------*/

// Buttons
// --------------------


// Borders
// --------------------

%solid-border { border-style: solid; }
%solid-bottom-border { border-bottom-style: solid; }
%solid-top-border { border-top-style: solid; }


// Transitions
// --------------------

%all-trans { @include trans(); }


// Layout
// --------------------
%is-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// Buttons
// --------------------

%default-button {
  cursor: pointer;
}

// Grid
// ---------------------

%default-column {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  @include trans($time: 200ms);
}