/*----------------------------------------

  KORDE - VARIABLES

-----------------------------------------*/

// Colors
// -------------------

// Main colors
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$stable_dark:                     #888 !default;
$positive:                        #0098D8 !default;
$accept:                          #1bbc9b !default;
$decline:                         #dc4738 !default;
$action:                          rgb(181, 77, 80) !default;
$warning:                         #558A86 !default;
$dark:                            rgb(45, 37, 51) !default;

// List of main colors
$mainColors: (
        ('light', $light, $dark),
        ('stable', $stable, $dark),
        ('stable_dark', $stable_dark, $light),
        ('positive', $positive, $light),
        ('accept', $accept, $light),
        ('decline', $decline, $light),
        ('action', $action, $light),
        ('warning', $warning, $light),
        ('dark', $dark, $light)
);

// Media sizes
// -------------------

$smallMediaSize :                 768px;
$mediumMediaSize:                 1250px;

// Fonts
// -------------------
$defaultFont:                     'Lato', sans-serif;

// Nav bar
// -------------------

// Nav bar top
$small-nav-size:                  60px;
$medium-nav-size:               80px;
$large-nav-size:                120px;