/*----------------------------------------

  KORDE - MAIN

-----------------------------------------*/

@import "variables",
        "mixins",
        "placeholders",
        "buttons",
        "textstyles",
        "properties",
        "components",
        "nav",
        "grid",
        "form";

// General fixes

body {
  margin: 0;
  min-height: 100vh;

  // Default font
  font-family: $defaultFont;
  font-size: 14px;
}

button, input, select, div {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

button {
  font-size: inherit;
  &:focus {
    outline: none;
  }
}

a {
  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}
